.container {
  margin: 0 6em;
  background-color: var(--white);
  margin-top: 40px;
  padding: 40px;
  border-radius: 5px;
}
.title {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 40px;
}
.title h4 {
  font-size: 1.25em;
  font-weight: 700;
  color: var(--blue3);
  position: relative;
}
.divbottom {
  width: 40px;
  height: 5px;
  background-color: #4ace86;
}

.info {
  display: flex;
  justify-content: space-around;
}

.singleInfo {
  width: 30%;
  border-radius: 12px;
  background: #ffffff;
  box-shadow: 6px 6px 12px #ededed, -6px -6px 12px #ffffff;
  padding: 20px 100px 20px 50px;
  border-left: 4px solid var(--blue3);
}
.singleInfo > h5 {
  font-size: 1.1em;
  font-weight: 600;
  padding-bottom: 5px;
}
.singleInfo p {
  font-size: 15px;
  padding: 7px 0;
}

/* --------responsive---------- */
@media (max-width: 420px) {
  .container {
    margin: 0;
    background-color: var(--white);
    margin-top: 40px;
    padding: 40px 1.5em;
    border-radius: 5px;
  }
  .info {
    flex-direction: column;
    gap: 20px;
  }
  .singleInfo {
    width: 95%;
    padding: 20px 0px 20px 20px;
  }
  .singleInfo > h5 {
    font-size: 1em;
  }

  .container > h3::after {
    left: 32.5%;
  }
}
