.container {
  height: 240px;
  background: url(../../../assets/HeroSection/Banner.png) no-repeat center;
  background-size: cover;
  margin: 0 6em;
  border-radius: 10px;
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  padding: 40px 100px 0 0;
  color: var(--white);
}

.container > img {
  width: 52px;
  height: 52px;
}
.text > p {
  padding-bottom: 8px;
}
.text span {
  font-size: 18px;
  font-weight: 600;
}
/* ---------------------------------------------------------------------- */

.information {
  width: 65%;
  margin: 0 auto;
  background-color: var(--white);
  display: flex;
  align-items: center;
  border-radius: 10px;
  transform: translateY(-86%);
}
.img {
  width: 176px;
  height: 176px;
}
.img > img {
  width: 100%;
}
.infoText {
  width: 75%;
  margin-left: 40px;
}
.infoTop {
  display: flex;
  justify-content: space-between;
}
.location {
  display: flex;
  align-items: center;
  gap: 10px;
}
.location > img {
  width: 16px;
  height: 20px;
}
.infoTop > h3 {
  color: var(--blue3);
  font-size: 22px;
  font-weight: 700;
  padding-bottom: 7px;
}
.infoText > p {
  font-size: 14px;
  font-weight: 500;
  padding: 3px 0;
}
.info {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #f4f4f4;
}
.infoFooter {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 10px;
}
.infoFooter > img {
  width: 20px;
  height: 20px;
}
.infoFooter span {
  font-weight: 600;
}

/* --------responsive---------- */
@media (max-width: 420px) {
  .container {
    height: 200px;
    margin: 0;
    padding: 20px 0 0 10px;
    justify-content: center;
  }
  .text span {
    font-size: 15px;
  }

  .location {
    display: none;
  }
  .information {
    width: 96%;
    margin: 0;
    padding: 0.5em;
    transform: translateY(-11%);
    flex-direction: column;
    padding-bottom: 30px;
  }
  .img > img {
    width: 150px;
    height: 150px;
    transform: translate(-65%, -50%);
  }
  .infoText {
    margin-left: 0;
    margin-top: -80px;
  }
  .infoTop > h3 {
    font-size: 20px;
  }
  .info {
    flex-direction: column;
    gap: 10px;
  }
  .personalInfo {
    display: none;
  }
}
