.container {
  padding: 0 6em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3.125em;
}
.text {
  width: 50%;
  background-color: var(--white);
  padding: 3em;
  border-radius: 10px;
}
.text > h4 {
  font-size: 1.25em;
  font-weight: 700;
  text-align: center;
  color: var(--blue3);
  position: relative;
}
.text > h4::after {
  width: 2em;
  height: 4px;
  position: absolute;
  top: 28px;
  left: 44.5%;
  content: "";
  background-color: #4ace86;
  border-radius: 10px;
}
/* .img {
  text-align: center;
}
.img > img {
  width: 42px;
  position: absolute;
} */

.text > p {
  font-size: 1.1em;
  padding-top: 1em;
  font-weight: 500;
}
.workStation {
  margin-top: 15px;
  display: flex;
  align-items: center;
  gap: 15px;
}
.divBorder {
  width: 4px;
  height: 50px;
  background-color: var(--blue3);
  border-radius: 10px;
}
.fees .divBorder {
  height: 40px;
}
.times .divBorder {
  height: 20px;
}
.info > h5 {
  font-size: 1.1em;
  font-weight: 500;
  padding-bottom: 7px;
}
.info > p {
  font-size: 15px;
}

.feesConsultation {
  display: flex;
  justify-content: space-between;
  margin-top: 1.9em;
}

.fees > p {
  font-size: 1.1em;
  font-weight: 500;
}
.times > p {
  font-size: 1.1em;
  font-weight: 500;
}

.unlimited {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 541px;
  /* height: 100px; */
  margin-top: 20px;
  margin: 40px auto 0;
  border: 1px solid #457ec320;
}

.unlimited > img {
  width: 146px;
  height: 96px;
}
.time {
  padding-left: 20px;
}
.time > h5 {
  font-size: 1.2em;
  font-weight: 700;
  color: var(--blue3);
  padding-bottom: 10px;
}

.time > span {
  background-color: var(--blue6);
  color: var(--white);
  padding: 5px 15px;
  border-radius: 20px 0 20px 0;
  font-size: 14px;
  font-weight: 500;
}

.container > img {
  width: 40%;
  height: 426px;
  object-fit: cover;
  border: 5px solid var(--blue3);
  border-radius: 15px;
}

/* --------responsive---------- */
@media (max-width: 420px) {
  .container {
    padding: 0 1.3em;
    flex-direction: column;
    margin-top: 10px;
  }
  .text {
    width: 100%;
  }
  .unlimited {
    width: 100%;
  }
  .text > h4 {
    font-size: 1.5em;
  }
  .text > h4::after {
    top: 33px;
    left: 40.5%;
  }
  .workStation > h5 {
    font-size: 16.5px;
    font-weight: 500;
    padding-bottom: 7px;
  }
  .time > h5 {
    font-size: 1.1em;
  }
  .unlimited > img {
    width: 135px;
  }

  .container > img {
    display: none;
  }
}
